body {
    background-color: darkgoldenrod;
    padding: 20px;
    font-family: fantasy;
}

h1{
    text-align: center;
}
p{
    background-color: aliceblue;
    text-align: justify;
}

ul{
    list-style-type: disc;
    background-color: white;
}